.DS_Store
/vendor/
.env


# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


## javascript
node_modules/

dist/
coverage/
.tsup/
.vite/

### ENV STUFF 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


